@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir Regular";
  src: url("/fonts/PPAgrandir-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Agrandir Narrow";
  src: url("/fonts/Agrandir-Narrow.otf") format("opentype");
  font-weight: normal;
}


@font-face {
  font-family: "Apoc Normal";
  src: url("/fonts/ApocNormal-Regular.otf") format("opentype");
  font-weight: normal;
}

.nav-vertical {
  width:100vh;    
  position:fixed;
  transform-origin: left top;
  transform:rotate(-90deg) translateX(-100%);
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
}

body {
  font-family: 'Agrandir Regular';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: black;
}

.font-apoc {
  font-family: "Apoc Normal";
}

.font-ag-narrow {
  font-family: "Agrandir Narrow";
}

.font-baskerville {
  font-family: baskerville-display-pt, serif;
  font-weight: 400;
  font-style: normal;
}

.item-texto p {
  min-width: 17rem;
}

.ficha-tecnica strong {
  text-decoration: underline;
  font-weight: normal;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

.slide-in {
  animation: slide-in 0.8s forwards;
  -webkit-animation: slide-in 0.8s forwards;
}

/* width */
::-webkit-scrollbar {
height: 5px;
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(76, 76, 76); 
}
.embla {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
  height: 100%;
}

.embla__slide {
  position: relative;
  padding-right: 5vw;
  padding-left: 5vw;
}

.embla__slide__books {
  position: relative;
  padding-right: 18vw;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}


.fslightbox-container {
  background: linear-gradient(rgba(0,0,0,.9),#000 1810%) !important;
  backdrop-filter: blur(5px);
  border: 1px solid  white !important;
}

.fslightbox-toolbar, .fslightbox-slide-btn {
  background: transparent !important;
}

.fslightbox-toolbar-button:hover .fslightbox-svg-path {
  fill: white !important;
}

.fslightbox-svg-path {
  fill: white !important;
}

.fslightbox-slide-number-container {
  color: white !important;
}

.fslightbox-slash {
  background: white !important;
}

.fslightbox-source {
  height: 86vh !important;
  width: auto !important;
}

.fslightbox-toolbar-button:nth-child(0), .fslightbox-toolbar-button:nth-child(2), .fslightbox-toolbar-button:nth-child(3), .fslightbox-toolbar-button:nth-child(1) {
  display: none;
}

@media only screen and (max-width: 768px) {
  .fslightbox-source {
    height: 55vh !important;
  }
}

@media (min-width: 768px) { 

  .size-small {
      width: 20vw;
      height: auto;
  }
  
  .size-medium {
      width: 40vw;
      height: auto;
  }
  
  .size-large {
      width: 100%;
      min-width: 35vw;
      height: 90vh;
      object-fit: cover;
  }
  
  .self-bottom {
      align-self: end;
  }
  
  .self-top {
      align-self: start;
  }

}

@media (min-width: 1536px) { 
  .text-xxl {
      font-size: 1.65rem;
      line-height: 2.25rem;
  }
}

